@page
@model MediNote.Web.Pages.Account.AccessDeniedModel

<h2 class="text-danger">Access Denied</h2>
<p>You do not have the necessary permissions (roles) to access this page.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Go back Home</a>
